.box{
    width: 50%;
    border: 15px solid #420a9a;
    padding: .5em .5em 0em .5em;
    margin-bottom: 2em;
    margin-top: 2em;
    overflow: hidden;
    background-color: #7549bd;
    border-radius: 2em;
}

#searchedWord{
    padding-bottom: 2em;
    color: #FFB3C1
}

#definition{
    padding-bottom: 1em;
    color: #fc6f65
}

#outOf{
    color:yellow;
    float: right;
}

input{
    padding: .5%;
    border: 2px solid #075f58;
    background-color: #3CBC8D;
    border-radius: 1em;
    text-align: center;
}

form{
    margin-top: 2%;
}

#flex{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.defButton{
    background-color: #3CBC8D;
    margin: 1em;
    border: 5px solid #075f58;
    color: white;
    padding: 10%;
    text-align: center;
    font-weight: bold;
    border-radius: 1em;
}

.defButton:hover{
    background-color: #329571;
    border: 5px solid #053e39;
}

#audio{
    padding: 2%;
    background-color: #3CBC8D;
    margin: 1em;
    border: 2px solid #075f58;
    color: white;
    text-align: center;
    font-weight: bold;
}

#audio:hover{
    background-color: #329571;
    border: 2px solid #053e39;
}

#ANF{
    color: #efb95b;
    font-weight: bolder;
}

#error{
    color: rgb(192, 16, 16);
}